html
    head
        title= title
        link(href="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css", rel="stylesheet")
    body
        h1= message
        #mocha

        script(src="https://cdn.rawgit.com/jquery/jquery/2.1.4/dist/jquery.min.js")
        script(src="https://cdn.rawgit.com/Automattic/expect.js/0.3.1/index.js")
        script(src="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.js")

        script(type="text/javascript").
            mocha.setup('bdd');

        script(src="test.array.js")
        script(src="test.object.js")
        script(src="test.xhr.js")
        script(type="text/javascript").
            mocha.checkLeaks();
            mocha.globals(['jQuery']);
            mocha.run();
